@media (max-width: 991px) {
	.navbar-light .navbar-toggler {
		color: #fff !important;
		font-size: 26px;
		margin-top: 5px;
	}
	.navbar {
		display: table !important;
		float: right !important;
		position: relative;
	}
	.navbar i {
		position: absolute;
		right: 0;
		display: block;
	}
	.navbar-toggler {
		padding: 0;
	}
	.navbar-toggler:focus {
		outline: 0;
	}
	.navbar-nav {
		position: absolute;
		right: 0;
		z-index: 4;
		top: 40px;
		background: #fff;
		border: 1px solid #000;
	}
	.text--menu {
		border-bottom: 0;
		margin-left: 0;
	}
	.menu a {
		font-size: 14px;
		color: #000 !important;
	}
	.menu a:first-letter {
		color: #000 !important;
		font-size: 14px;
		background: none;
		padding-left: 0;
		padding-right: 0;
	}
	.menu li.active, .menu li:hover {
		background: none;
		padding: 0 10px;
	}
	.menu li {
		border-bottom: 1px dashed #000;
		width: 100%;
		padding: 0 10px;
	}
	.menu li:last-child {
		border-bottom: 0;
	}
	.text-sovet {
		display: none;
	}
	.text-main {
		width: 100%;
	}
	.pr {
		padding-right: 0;
	}
	.line-right {
		background: url(../image/line-left.png) no-repeat 100% 0;
		height: 7px;
		margin-right: 15px;
	}
	.line-left {
		margin-left: 30px;
		left: -15px;
	}
}
@media (min-width: 576px) {
	.hidden-footer {
		display: none;
	}
}
@media (max-width: 575px) {
	.top-button, .title-menu {
		display: none;
	}
	.hidden-footer1 {
		display: none;
	}
	.map, .contax {
		background: none;
		width: 100%;
	}
	.copy, .copy1 {
		font-size: 9px;
	}
	.copy {
		margin-top: 0;
	}
	.map1 {
		display: none;
	}
	.cTitle {
		background: none;
	}
	.cText {
		padding-left: 0;
		border: none;
		background: none;
		padding-left: 0;
		padding-top: 0;
	}
	.cText1 {
		display: table;
		margin: auto;
	}
	.nbs-flexisel-nav-right {
		right: 20px;
	}
	.nbs-flexisel-nav-left {
		left: 20px;
	}
	.nbs-flexisel-inner {
		margin: 0 30px 0 30px;
	}
	.fire {
		background: none;
	}
	.logo {
		float: left;
	}
	.pa {
		top: -146px;
		position: absolute;
		left: 0;
	}
	.text-arrow {
		width: 100%;
		right: 0;
		text-align: center;
	}
}
@media (max-width: 1200px) {
	.line {
		padding-left: 0;
		left: 0;
	}
	.text-main {
		margin-left: 0;
	}
	.pad1 {
		padding-left: 0;
	}
	.text-sovet {
		float: left;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.line-left {
		left: 15px;
	}
	.line-right {
		left: 70%;
	}
}